{block content}
<div class="container lead" style="padding-top: 50px">
    <h1>Kontakt</h1>
    <p>Pokud máte připomínky, návrhy na zlepšení nebo jste objevili chybu v této aplikaci, můžete psát na email:</p>
    <a href="mailto:petrkubes1997@gmail.com?Subject=IOweYou" target="_blank" class="email">petrkubes1997@gmail.com</a>
</div>
