homepage:
    texts:
        intro: "Jednoduchá aplikace pro mobilní telefony se systémem Android. Slouží ke sdílení dluhů s přáteli. Přidané dluhy se automaticky synchronizují se zařízeními vašich facebookových přátel. Už nikdy neztratíte přehled o tom, kdo vám co dluží."
        login: "Přihlásíte se kliknutím na 'Přihlásit se přes Facebook'. Facebook vás požádá o oprávnění na zjištění vašeho emailu. Nemějte strach, emailová adresa slouží k tomu, aby vás vaši přátele mohli rezeznat od jiných se stejných jménem a s nikým jiným ji nesdílíme. Další oprávnění je na seznam vašich přátel. Facebook aplikaci umožní získat pouze facebookové identifikátory přátel, kteří si aplikaci stáhli před vámi a umožní nám to propojit váš účet s účty vašich přátel."
        overview: "Přehled všech vašich aktivních dluhů najdete v záložkách 'Moje dluhy' a 'Jejich dluhy'. Zde je možné kliknutím na dluh provést různé akce. Např. dluh zaplatit, zaplatit určitou část dluhu, případně dluh upravit."
        add: "Nový dluh přidáte kliknutím na červené tlačítko s plusem. Následně vás aplikace požádá o povolení ke čtení kontaktů. Pokud toto aplikaci povolíte, budou vám v políčku pro jméno dlužníka navrhováni přátelé z vašich kontaktů. Vaše kontakty nejsou posílány na server, synchronizuje se pouze jméno vybraného dlužníka. Kontakty, které synchronizují se zařízeními vašich přátel jsou označeny modře a jedná se o kontakty z Facebooku. Dále je možné vybrat zda jste dlužníkem vy nebo vybraný přítel, zda je dlužena věc či peníze (v tomto případě je možné vybrat měnu), můžete přidat poznámku, pokud se jedná o starší dluh, je možné změnit i datum vytvoření kliknutím na datum a zamknutím dluhu můžete zařídit, že Vy budete jediný s možností upravovat vytvořený dluh."
        actions: "Záložka akce vám ukáže stručný přehled posledních úprav vašich dluhů."

    headings:
        howToUse: "Jak používat:"
        login: "Přihlášení"
        overview: "Přehled dluhů"
        add: "Přidání dluhu"
        actions: "Seznam akcí"

    menu:
        home: "Domů"
        technology: "Technologie"
        contact: "Kontakt"

