body {
    font-family: 'Scope One', serif;
}

/* CUSTOMIZE NAVBAR
-------------------------------------------------- */

.navbar-default .navbar-toggle {
    border-color: rgba(0, 0, 0, 0);
    border-radius: 20%;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: rgba(0, 0, 0, 0);
}


.navbar-default {
    background-color: rgba(0, 148, 6, 0.62);
    border-color: #1f961f;
}

.navbar-default .navbar-brand {
    color: #ffffff;
    font-size: 28px;
    line-height: 32px;
    font-weight: bold;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #ffffff;
}


.navbar-default .navbar-nav>li>a {
    color: #ffffff;
    line-height: 32px;
    font-size: 20px;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #e2e2e2;
}


/* CUSTOMIZE JUMBOTRON
-------------------------------------------------- */
.jumbotron {
    color: white;
    background: linear-gradient(141deg, #0f62b8 0%, #4baea5 51%, #4caf50 75%);
    padding-top: 99px;
    padding-bottom: 99px;
}

.jumbotron>.container {
    margin-top: 50px;
}

.jumbotron>.container>div>div>div>img {
    border-radius: 100%;
    box-shadow: 0px 0px 1px 6px white;
    margin: auto;
}



/* Featurettes
------------------------- */

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 400;
    line-height: 1;
    letter-spacing: -1px;
}

@media (max-width: 768px) {
    .featurette {
        padding-top: 2em;
    }
}

.featurette {
    text-align: justify;
    display: flex; !important;
    align-items: center; !important;
    flex-wrap: wrap;
}

.reverse {
    flex-direction: row-reverse;
}

h1 {
    font-size: 4em;
    text-align: center;
    margin: 50px 0px 20px 0px;
}

h2 {
    font-size: 3em;
}

.email {
    margin: auto;
    display: block;
    text-align: center;
    font-size: 2em;
    padding: 1em 0em;
}

/* Animations */
.speed {
    animation-duration:  1s !important;
    animation-delay:  0s !important;
}

